.switch {
  width: 74px;
  height: 43px;
  border-radius: 50px;
  padding: 5px;

  display: flex;
  justify-content: flex-start;

  cursor: pointer;
  background-color: rgba(112, 113, 126, 0.452);
}

.switch[data-ison='true'] {
  justify-content: flex-end;
}
